.layout{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background:#2B1601;

	>img{
		width: 100%;
	}

	>.button{
		position: absolute;
		bottom:0px;
		left:0px;
		padding:20px;
		background: none;
		border:0;
		img{
			width: 100%;
		}
	}
}

#pause-layout{
	display: none;
	.pause-button{
		 
	}
}